@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Poor+Story');

.bg-image {
  background: linear-gradient(90deg,white, white, transparent), url("imgs/Background.jpg");
  background-position: right bottom, right bottom;
  background-color: white;
  height: 850px;
  background-repeat: no-repeat;
  background-size:auto;
}

.titulo {
    color: darkslategray;
    background: linear-gradient(to top, white,transparent), #a6acb5;
    background-repeat: no-repeat;
    font-family: "Open Sans Condensed";
    padding-left: 40px;
    font-size: 60px;
    padding: 1px 0px 40px 40px;
}


.subTitulo {
    font-family: "Poor Story";
    color: black;
    position: absolute; top: 70; left: 50;
}

.post{
    float: left;
    width: 60%;
    border-width: 1px;
    border-color: gray;
    border-style: solid;
    border-radius: 20px;
    margin-left: 10px;
}

.bg {
    background: linear-gradient(to top, white,transparent),url('imgs/GK.jpeg');
    background-repeat: no-repeat;
}

.postTitulo {
    font-family: sans-serif;
    margin-left: -55px;
    margin-right: -30;
    margin-top: 20px;
    margin-bottom: 30px;
    border-style: solid;
    border-radius: 15px;
    background-color: lightgray;
    padding: 1px 1px 1px 75px;
}

.texto {
    font-family: serif;
    margin-left: 10px;
    background: rgba(255,255,255,0.5);
    padding: 30px;
}
